@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

:root {
    --color-main: #6c182d;
    --color-gray: #cdcdcd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/**************************************/

.header-promo {
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-promo-parrafo {
    color: white;
    font-weight: 600;
    padding: .5rem;
}

.header-nav {
    background-color: var(--color-gray);
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    position: sticky;
    top: 0;
}

.logo {
    width: 5rem;
}

.header-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.header-item,
.header-carrito {
    color: var(--color-main);
}

.header-item:hover {
    color: #af2d4e;
}

.main {
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "img1   img2    img3    img10   img10   img4"
        "img12  img12   img5    img10   img10   img6"
        "img12  img12   img7    img8    img9    img11";
    gap: .7rem;
    padding: .7rem;
}

.gallery-img {
    max-width: 100%;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}

.img8 {
    grid-area: img8;
}

.img9 {
    grid-area: img9;
}

.img10 {
    grid-area: img10;
}

.img11 {
    grid-area: img11;
}

.img12 {
    grid-area: img12;
}

/*******    TIENDA  *******/

.tienda {
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.tienda-items {
    display: flex;
    gap: 2rem;
    padding: 1rem 0 2rem 0;
    align-items: center;
    justify-content: space-around;
}

.tienda-item {
    color: var(--color-main);
    font-weight: 600;
}

.buscar {
    position: relative;
    padding: 5px;
}

.buscar input {
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background: var(--color-main);
    text-align: center;
    color: white;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input {
    width: 240px;
}

.buscar input:focus {
    width: 240px;
}

/**************/

.cards-tienda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #6c182d;
    padding: 1rem 5rem 1rem 5rem;
    gap: 1rem;
}

.producto-img {
    max-width: 100%;
    /* border-radius: 1rem; */
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.card-info {
    background-color: var(--color-gray);
    /* border-radius: 1rem; */
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: .5rem;
    margin-top: -.5rem;
    position: relative;
}

.producto-precio {
    font-weight: 600;
    margin-block: .5rem;
}

.producto-botones {
    display: flex;
    margin-top: .5rem;
    gap: 1rem;
}

.producto-cantidad {
    width: 50%;
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    background: var(--color-main);
    border-radius: .8rem;
    cursor: pointer;
}

.producto-cantidad span {
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: white;
}

.producto-cantidad span.numero {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.producto-agregar {
    width: 50%;
    font-weight: 700;
    border-radius: .8rem;
    cursor: pointer;
}

.producto-agregar:hover {
    /* color: var(--color-gray); */
    color: green;
    background-color: black;
    /* background-color: green; */
}

/*************  FOOTER  ************/

.footer {
    background-color: var(--color-gray);
    display: flex;
    padding: 1rem 5rem 1rem 5rem;
}

.mapa {
    margin-top: 1rem;
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
}
